.weather,
.weahter .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {

    p {
        color: white;
        font-weight: 800;
    }
}

.weahterImage {
    width: 50px !important;
    height: 50px !important;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
}



@media (max-width : 800px) {
    .weather {
        font-size: 13px;
    }

    .weahterImage {
        width: 40px !important;
        height: 40px !important;
    }
}