.brandLogo {
    margin-right: 15px;
}

.active {
    font-weight: 600;
}

@media (max-width : 800px) {
    .brandLogo {
        width: 30px;
        height: 30px;
    }

    .navLinks {
        font-size: 13px;
    }
}