.brandLogo {
    margin-right: 15px;
}

.active {
    font-weight: 600;
}

@media (max-width : 800px) {
    .brandLogo {
        width: 30px;
        height: 30px;
    }

    .navLinks {
        font-size: 13px;
    }
}

@media (max-width : 560px) {
    .brandLogo {
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    .navLinks {
        font-size: 13px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}