@import url('https://fonts.googleapis.com/css2?&family=Permanent+Marker');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}